# Root
.DS_Store
node_modules/
logs/
*.log
.env
.env.*.local

# Build
build/
dist/
.tmp/
*.tsbuildinfo
*.pid
*.seed
*.pid.lock

# Client
client/node_modules/
client/dist/
client/.env
client/.env.*.local

# Server
server/node_modules/
server/dist/
server/.env
server/.env.*.local

# IDE
.vscode/